node_modules
# Keep environment variables out of version control
.env

/generated/prisma
./config/second-police-cfc4d590a7fb.json
./config/second-police-firebase-adminsdk-fbsvc-198561f5e7.json
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat


localhost.pem
localhost-key.pem
